<mat-toolbar class="app-title">Sobre o Desafio</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title>O Desafio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Em resposta ao desafio proposto, resolvi implementar uma aplicação
            simples, simulando uma agenda telefônica.
        </p>
        <p>
            A aplicação foi dividida assim:
        </p>
        <ul>
            <li>
                Menu lateral, no qual são direcionados para as telas
                descritas a seguir.
            </li>
            <li>
                Tela inicial, onde seriam listados os contatos com alguns detalhes,
                os dados são estáticos a partir de uma array de objetos;
            </li>
            <li>
                Tela de cadastro do contato em si, solicitando algumas informações
                pessoais, mas que não é persistido em lugar algum, a tela possui um
                botão de salvar com um dialog de sucesso e botão de cancelar, ambos os
                botões retornam para a tela inicial;
            </li>
            <li>
                Tela do sobre, onde estar descrito uma breve explicação do que foi feito.
            </li>
        </ul>
        <p>
            Para tanto, utilizei as ferramentas abaixo:
        </p>
        <ul>
            <li>Angular</li>
            <li>Angular Material</li>
            <li>Visual Studio Code</li>
            <li>Chrome</li>
            <li>Github</li>
        </ul>
        <p>
            Assim como, as lições, os truques e dicas dessa galerinha
            aqui da Digital Innovation One.
        </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>