mat-card-image {
    margin: auto;
}

mat-form-field {
    display: inline;
}

mat-card-actions {
    margin-left: 10px;
}

.container {
    margin: auto;
    width: 800px;
}

.card-image {
    max-width: 300px;
    margin: auto;
}

.card-image img {
    width: 100%;
    margin: auto;
}

.linha2,
.linha3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

.direita {
    margin-left: 0px;
}

.card-content {
    padding: 10px;
}

@media (min-width: 1px) and (max-width: 500px) {
    .container {
        width: 250px;
    }

    .card-image {
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .container {
        width: 400px;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .container {
        width: 600px;
    }

    .linha1:nth-child(1) {
        width: 50%;
    }

    .col {
        width: calc(50% - 10px);
    }

    .direita {
        margin-left: 20px;
    }
}

@media (min-width: 1001px) {
    .container {
        width: 800px;
    }

    .linha1:nth-child(1) {
        width: 50%;
    }

    .col {
        width: calc(50% - 10px);
    }

    .direita {
        margin-left: 20px;
    }
}