.container {
    max-width: 1056px;
    margin: auto;
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.lista-card {
    width: calc(50% - 10px);
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.lista-card-avatar {
    background-size: cover;
}

.lista-card-avatar img {
    width: 100%;
    height: 100%;
}

@media (min-width: 1px) and (max-width: 300px) {
    .lista-card-image {
        display: none;
    }

    .lista-card-observacao {
        display: none;
    }
}

@media (min-width: 301px) and (max-width: 720px) {
    .container {
        width: 250px;
    }

    .lista-card-observacao {
        display: none;
    }
}

@media (min-width: 721px) and (max-width: 1050px) {
    .container {
        width: 800px;
    }
}

@media (min-width: 1050px) {
    .container {
        width: 1056px;
    }
}