<mat-toolbar class="app-title">Contatos Salvos</mat-toolbar>
<div class="container">
    <div class="content">
        <mat-card class="lista-card" *ngFor="let contato of contatos">
            <mat-card-header>
                <div mat-card-avatar class="lista-card-avatar">
                    <img [src]="contato.urlFoto || semFoto">
                </div>
                <mat-card-title>{{ contato.nome }} {{ contato.sobrenome }}</mat-card-title>
                <mat-card-subtitle>{{ contato.telefone }}</mat-card-subtitle>
            </mat-card-header>
            <div class="lista-card-image">
                <img mat-card-image [src]="contato.urlFoto || semFoto" [alt]="contato.nome">
            </div>
            <mat-card-content class="lista-card-observacao"><p>{{ contato.observacao }}</p></mat-card-content>
            <mat-card-actions>
                <button mat-button>DETALHAR</button>
                <button mat-button>APAGAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>